footer {
    position: absolute;
    display: flex;
    height: auto;
    font-family: 'Lato', sans-serif;
    color: #fff;
    /* bottom: 0;
    left: 0;
    right: 0; */
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #152349;
    margin-top: 80px;
    background-size: auto;
    height: auto;
    padding-top: 20px;
}

.footer-content p{
    font-size: 14px;
    word-spacing: 2px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin: 0 5px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 34px;
    transition: color 0.4s ease;
}


.socials a:hover i{
    color: rgb(101, 126, 209);
}

/* .footer-bottom {
    width: 100vw;
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
    word-spacing: 2px;
    background-color: #152349;
} */

/* .right{
    float:right;
    padding-right: 40px;
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 0.7px;
}

.left{
    float:left;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 0.7px;
} */