.heading {
  color: #152349;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 45px;
  padding-top: 190px;
  padding-left: 100px;
  font-weight: bolder;
  color: #152349;
}

.subHeader {
  color: #152349;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.btn-primary {
  background-color: #152349 !important;
  border-radius: 32px !important;
  font-family: "Lato", sans-serif !important;
  font-weight: bolder !important;
  letter-spacing: 0.5px;
  font-size: 14px !important;
}

.headingGrasp {
  color: #152349;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 35px;
  padding-top: 80px;
  font-weight: bolder;
  color: #152349;
  text-decoration: underline;
}

img.mainArm {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  width: 400px;
  height:auto;
}

img.picOne {
  display: flex;
}

img.picTwo {
  display: flex;
}

p.text {
  color: #152349;
  display: flex;
  font-family: "Lato", sans-serif;
  padding: 50px;
  padding-top: 10px;
  padding-left: 100px;
  font-size: 14px;
  padding-bottom: 190px;
}

p.infoBlock {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 80%;
  line-height: 140%;
}

p.graspText {
  /* margin: auto; */
  color: #152349;
  display: flex;
  text-align: center;
  font-family: "Lato", sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.partTwo {
  background-color: #152349;
  color: #fff;
  padding: 75px;
  text-align: center;
  /* margin-left: auto; */
  font-family: "Lato", sans-serif;
  margin: 0;
}

.headerWhite {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 0.1em;
  text-decoration-thickness: 1px;
}

.headerBlue {
  color: #152349;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 0.1em;
  text-decoration-thickness: 1px;
}

.footer {
  margin-top: 100px;
  padding-top:10px;
  background-color: #152349;
  padding: 30px;
  text-align: left;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  /* padding-left: 120px; */
  font-size: 18px;
  height: 75px;
}

.images {
  margin: -25px;
}

.facebook {
  padding-left: 480px;
}

.contact {
  text-align: right;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  padding-left: 890px;
  font-size: 18px;
}

.bionics {
  margin:-25px;
  text-align: right;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  padding-left:45px;
  padding-bottom:20px;
  font-size: 18px;
}

p.graspDesc {
  color: #152349;
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 550;
  font-size: 14px;
}

p.graspBold{
  color: #152349;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight:bold;
  padding-top: 25px;
  padding-bottom: 14px;
}

img.graspHand{
  display: flex;
  padding-top: 25px;
  width: 60%;
  height: auto;
}

p.graspSubText{
  color: #bebebe;
  position: absolute;
  padding-top: 150px;
}

img.graspIcons{
  display: flex;
}

p.graspIcons{
  color: #152349;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding-top:20px;
}

.bold{
  font-weight: bolder;
}

img.teamPhotos {
  width:300px;
  height: auto;
}

img.teamimg {
  clip-path: circle();
  width: 150px;
  height: auto;
  display: "block";
}

img.memberimg {
  clip-path: circle();
  width: 120px;
  height: auto;
  display: "block";
}
p.joinusHeader{
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.width-80 {
  width:70%;
  margin:auto;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

@media (max-width: 1000px) {

}