.heading {
  color: #152349;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: bolder;
  color: #152349;
}

.shiftLeft {
  float:right;
}

.sticky {
  position: sticky;
}

.subHeader {
  color: #152349;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.btn-primary {
  background-color: #152349 !important;
  border-radius: 32px !important;
  font-family: "Lato", sans-serif !important;
  letter-spacing: 0.5px;
  font-size: 20px !important;
}

.headingGrasp {
  color: #152349;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 35px;
  padding-top: 80px;
  font-weight: bolder;
  color: #152349;
  text-decoration: underline;
}

img.mainArm {
  display: flex;
  justify-content: center;
  width: 400px;
  height: auto;
}

.backimage {
  /* background-image: url("./Photos/ranger-4df6c1b6.png"); */
  background-color: #8098bf;
}

img.picOne {
  display: flex;
}

img.picTwo {
  display: flex;
}

p.text {
  color: #152349;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-align: justify;
  width: 350px;
}

p.bionicsText {
  color: #152349;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-align: justify;
  width: 350px;
}

p.infoBlock {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 80%;
  line-height: 140%;
}

p.graspText {
  /* margin: auto; */
  color: #152349;
  display: flex;
  text-align: center;
  font-family: "Lato", sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.partTwo {
  background-color: #152349;
  color: #fff;
  padding-top: 25px;
  text-align: center;
  /* margin-left: auto; */
  font-family: "Lato", sans-serif;
  margin: 0;
}

.headerWhite {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 0.1em;
  text-decoration-thickness: 1px;
}

.headerBlue {
  color: #152349;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 0.1em;
  text-decoration-thickness: 1px;
}

.sponsor-header {
  color: #152349;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-align: center;
}

.sponsor-header-mini {
  color: #152349;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.cute-btn {
  background-color: #152349;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 25px;
  border: none;
  margin-left: 25px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: white;
}

.sponsor-header-bold {
  color: #152349;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Lato-bold", sans-serif;
  font-weight: 1000;
}

.images {
  margin: -25px;
}

.facebook {
  padding-left: 480px;
}

.contact {
  text-align: right;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  padding-left: 890px;
  font-size: 18px;
}

.bionics {
  margin: -25px;
  text-align: right;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  padding-left: 45px;
  padding-bottom: 20px;
  font-size: 18px;
}

p.graspDesc {
  color: #152349;
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 550;
  font-size: 16px;
}

p.height-130 {
  height: 180px;
}

p.graspBold {
  color: #152349;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 14px;
}

img.graspHand {
  display: flex;
  padding-top: 25px;
  width: 450px;
  height: auto;
}

p.graspSubText {
  color: #bebebe;
  position: absolute;
  padding-top: 150px;
}

img.graspIcons {
  display: flex;
  width: 80px;
  height: auto;
}

p.graspIcons {
  color: #152349;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding-top: 20px;
}

.bold {
  font-weight: bolder;
}

img.teamPhotos {
  width: 300px;
  height: 225px;
}

img.teamimg {
  position: relative;
  clip-path: circle();
  width: 150px;
  height: auto;
  display: "block";
  z-index: 1;
}

img.captain {
  position: relative;
  clip-path: circle();
  width: 300px;
  height: auto;
  display: "block";
  z-index: -1;
}

img.memberimg {
  position: relative;
  clip-path: circle();
  width: 120px;
  height: auto;
  display: "block";
  z-index: 1;
}

img.memberimg-z {
  position: relative;
  clip-path: circle();
  width: 120px;
  height: auto;
  display: "block";
  z-index: 1;
}

p.joinusHeader {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.width-80 {
  width: 70%;
  margin: auto;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

img.sq_sponsor {
  width: auto;
  height: 125px;
  max-height: 150px;
  max-width: 200px;
}

img.rect_sponsor {
  width: 300px;
  height: 100px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

@media (max-width: 1000px) {
}
