/*formats text to be heading*/
.heading {
  color: #152349;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: bolder;
  color: #152349;
}

/*formats image to be hero image*/
.hero-image {
  width: 45%;
  padding: 50px;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-text h1 {
  padding: 10px;
  color: #152348;
}

.hero-text p {
  padding: 20px;
}

.shiftLeft {
  float: right;
}

.parent {
  position: relative;
}

p.subTitle {
  font-style: italic;
  position: absolute;
  font-size: small;
  line-height: 0;
  white-space: nowrap;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
}

.sticky {
  position: sticky;
}

.subHeader {
  color: #152349;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.btn-primary {
  background-color: #152349 !important;
  border-radius: 32px !important;
  font-family: "Lato", sans-serif !important;
  letter-spacing: 0.5px;
  font-size: 20px !important;
}

.headingGrasp {
  color: #152349;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 35px;
  padding-top: 80px;
  font-weight: bolder;
  color: #152349;
  text-decoration: underline;
}

img.mainArm {
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: auto;
  padding-top: 40px;
}

.backimage {
  /* background-image: url("./Photos/ranger-4df6c1b6.png"); */
  background-color: #8098bf;
}

img.picOne {
  display: flex;
}

img.picTwo {
  display: flex;
}

p.text {
  color: #152349;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-align: justify;
  width: 350px;
}

p.bionicsText {
  color: #152349;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 420px;
}

p.infoBlock {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 80%;
  line-height: 140%;
}

p.graspText {
  /* margin: auto; */
  color: #152349;
  display: flex;
  text-align: center;
  font-family: "Lato", sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.partTwo {
  background-color: #152349;
  color: #fff;
  padding-top: 25px;
  text-align: center;
  /* margin-left: auto; */
  font-family: "Lato", sans-serif;
  margin: 0;
}

.headerWhite {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 0.1em;
  text-decoration-thickness: 1px;
}

.headerBlue {
  color: #152349;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 0.1em;
  text-decoration-thickness: 1px;
}

.sponsor-header {
  color: #152349;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-align: center;
}

.sponsor-header-mini {
  color: #152349;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

/*the sponsorship package button on the sponsors page*/
.cute-btn {
  background-color: #152349;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 25px;
  border: none;
  margin-left: 25px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: white;
}

.sponsor-header-bold {
  color: #152349;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Lato-bold", sans-serif;
  font-weight: 1000;
}

.images {
  margin: -25px;
}

.facebook {
  padding-left: 480px;
}

.contact {
  text-align: right;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  padding-left: 890px;
  font-size: 18px;
}

.bionics {
  margin: -25px;
  text-align: right;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  padding-left: 45px;
  padding-bottom: 20px;
  font-size: 18px;
}

p.graspDesc {
  color: #152349;
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 550;
  font-size: 16px;
}

p.height-130 {
  height: 180px;
}

p.graspBold {
  color: #152349;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 14px;
}

img.graspHand {
  display: flex;
  padding-top: 25px;
  width: 450px;
  height: auto;
}

p.graspSubText {
  color: #bebebe;
  position: absolute;
  padding-top: 150px;
}

img.graspIcons {
  display: flex;
  width: 80px;
  height: auto;
}

p.graspIcons {
  color: #152349;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding-top: 20px;
}

.bold {
  font-weight: bolder;
}

img.teamPhotos {
  width: 300px;
  height: 225px;
}

img.teamimg {
  position: relative;
  clip-path: circle();
  width: 150px;
  height: auto;
  display: "block";
  z-index: 1;
}

img.captain {
  position: relative;
  clip-path: circle();
  width: 300px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  display: "block";
  z-index: -1;
}

img.memberimg {
  position: relative;
  clip-path: circle();
  width: 120px;
  height: 120px;
  object-fit: cover;
  overflow: hidden;
  display: "block";
  z-index: 1;
}

img.h120 {
  height: 120px;
}

img.memberimg-z {
  position: relative;
  clip-path: circle();
  width: 120px;
  height: auto;
  display: "block";
  z-index: 1;
}

p.joinusHeader {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.width-80 {
  width: 70%;
  margin: auto;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

img.sq_sponsor {
  width: auto;
  height: 110px;
  max-height: 150px;
  max-width: 200px;
}

.image_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height:110px;
}

img.asee_sponsor {
  width: 100%;
  height: auto;
}

img.rect_sponsor {
  width: 100%;
  height: auto;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/*pilot page*/

.pilot-main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.pilot-container > p {
  margin-left: 38px;
}

.pilot-header {
  text-align: center;
}

.pilot-h1, .pilot-h2, .pilot-h3 {
  font-family: var(--bs-body-font-family);
  color: var(--bs-body-color);
  margin: 0;
}

.pilot-h1 {
  font-size: 62px;
}

.pilot-h3 {
  font-size: 20px;
  margin-bottom: -10px;
}

.pilot-div {
  margin-top: 30px;
  padding: 25px;
  border-radius: 30px;
}

.who, .goal {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.who > img, .goal > img {
  margin-top: 30px;
}

.pilot-container {
  justify-content: center;
  display: grid;
}

.pilot {
  background-color: #034FB6;
  margin-left: auto;
  margin-right: auto;
}

.pilot > h1, .pilot > ul > li {
  color: #fff;
}

.pilot > h1 {
  margin-left: 1.2rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.socials > a {
  background-color: var(--bs-body-color);
  box-shadow: 0px 0px 0px 3px var(--bs-body-color);
  margin: 10px;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  display: block;
}

@media only screen and (max-width: 600px) {
  .who, .goal {
      display: grid;
      grid-template-columns: auto;
  }

  .who > img, .goal > img {
      margin-top: 0px;
      justify-self: center;
  }
}

@media (max-width: 768px) {
  img.rect_sponsor {
    width: 60%;
  }
}

/* @media (min-width: 576px) {
  img.rect_sponsor {
    width: 60%;
  }
} */
